<div class="content mat-elevation-z8">
  <h2 class="text-center text-dark">Add New Project</h2>
  <div class="add-new-user">
    <form>
      <div class="form-row m-3">
        <div class="col-md-4">
          <label for="fullName">Project Name</label>
          <input type="text" id="fullName" name="fullName" class="form-control" placeholder="Agriculture"required="">
        </div>
        <div class="col-md-4">
          <label for="phoneNumber">Description</label>
          <input type="text" id="phoneNumber" name="phoneNumber" class="form-control" placeholder=""required="">
        </div>

        <div class="col-md-4">
          <label for="email">Expected Budget</label>
          <input type="email" id="email" name="email" class="form-control" placeholder=""required="">
        </div>

        <div class="col-md-4">
          <label for="city">Project Manager</label>
          <input type="text" id="city" name="city" class="form-control" placeholder=""required="">
        </div>

        <div class="col-md-4">
          <label for="residence">Affected Areas (Optional)</label>
          <input type="text" id="residence" name="residence" class="form-control" placeholder=""required="">
        </div>

        <div class="col-md-4">
          <label for="start"> Expected Start Date</label>
          <input type="datetime-local" id="start" name="start" class="form-control" placeholder=""required="">
        </div>

        <div class="col-md-4">
          <label for="end">Expected E Date</label>
          <input type="datetime-local" id="end" name="end" class="form-control" placeholder=""required="">
        </div>

      </div>
      <div class="submission m-4">
        <button class="btn btn-danger">Add Project</button>
      </div>
    </form>
  </div>
</div>
