<div class="content mat-elevation-z8" *appAccessControl="[permissionType.CREATE_PROJECTS,'page']">
  <h2 class="text-center text-dark">Add New Project</h2>
  <div class="add-new-user">
    <form [formGroup]="projectForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
      <div class="form-row m-3">
        <div class="col-md-4">
          <label for="name">Name</label>
          <input type="text" id="name" formControlName="name" class="form-control" placeholder="Agriculture"required="">
        </div>
        <div class="col-md-4">
          <label for="description">Description</label>
          <input type="text" id="description" formControlName="description" class="form-control" placeholder=""required="">
        </div>

        <div class="col-md-4">
          <label for="category">Category</label>
          <input type="text" id="category" formControlName="category" class="form-control" placeholder=""required="">
        </div>

        <div class="col-md-4">
          <label for="status">Project Status</label>
          <select formControlName="status" id="status" class="custom-select">
            <option value="upcoming">Upcoming</option>
            <option value="in-progress">In Progress</option>
            <option value="completed">Completed</option>
          </select>
        </div>

        <div class="col-md-4">
          <label for="client">Client</label>
          <input type="text" id="client" formControlName="client" class="form-control" placeholder=""required="">
        </div>

        <div class="col-md-4">
          <label for="contractor">Contractor</label>
          <input type="text" id="contractor" formControlName="contractor" class="form-control" placeholder=""required="">
        </div>

        <div class="col-md-4">
          <label for="contractor-contacts"> Contractor Contacts</label>
          <input type="text" id="contractor-contacts" formControlName="contractor_contacts" class="form-control" placeholder=""required="">
        </div>

        <div class="col-md-4">
          <label for="facilitator">Facilitator</label>
          <input type="text" id="facilitator" formControlName="facilitator_name" class="form-control" placeholder=""required="">
        </div>

        <div class="col-md-4">
          <label for="facilitator-contacts">Facilitator Contacts</label>
          <input type="text" id="facilitator-contacts" name="facilitator_contacts" class="form-control" placeholder=""required="">
        </div>


        <div class="col-md-4">
          <label for="ministry">Ministry</label>
          <input type="text" id="ministry" formControlName="ministry" class="form-control" placeholder=""required="">
        </div>


        <div class="col-md-4">
          <label for="start-date">Expected Start Date</label>
          <input type=date id="start-date" formControlName="start_date" class="form-control" placeholder=""required="">
        </div>

        <div class="col-md-4">
          <label for="end-date">Expected End Date</label>
          <input type="date" id="end-date" formControlName="end_date" class="form-control" placeholder=""required="">
        </div>

        <div class="col-md-4">
          <label for="total-duration">Total Duration</label>
          <input type="text" id="total-duration" formControlName="total_duration" class="form-control" placeholder=""required="">
        </div>

        <div class="col-md-4">
          <label for="project_image">Banner Images</label>
          <input type="file" id="project_image" multiple formControlName="project_image" class="form-control-file" placeholder=""required="">
        </div>

      </div>
      <div class="submission m-4 text-right" *appAccessControl="[permissionType.CREATE_PROJECTS,'nav']">
        <button class="btn btn-danger">Add New Project</button>
      </div>
    </form>
  </div>
</div>
