.content {
  height: auto;
  border-radius: 10px;
  margin: 16px 32px;
  font-size: 2rem;
  color: lightgray;
}
label{
  font-family: 'Poppins',sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
  color: #000000;
}
input,select{
  font-family: 'Poppins',sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
}
p{
  font-family: 'Poppins',sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 48px;
  color: #1C416D;
}
