<div class="content mat-elevation-z8 ">
  <div class="row justify-content-around">
    <div class="col-md-3 mt-5 p-5">
      <h3 class="title">Settings</h3>

      <div class="mt-5 links">
        <mat-divider></mat-divider>
        <a class="profile-links" [routerLink]="['/admin/profile/account-settings']">Account Settings</a>
        <p class="inline-links">Personal Information,email</p>
      </div>

      <div class="mt-5 links">
        <mat-divider></mat-divider>
        <h4 class="title">Security</h4>
        <p class="inline-links">Change Password, 2FA</p>
      </div>

<!--      <div class="mt-5 links">-->
<!--        <mat-divider></mat-divider>-->
<!--        <a class="profile-links" [routerLink]="['/admin/profile/account-appearance']">Appearance</a>-->
<!--        <p class="inline-links">Dark and Light mode, Font size</p>-->
<!--      </div>-->
    </div>
    <!--END column 1 account settings-->

    <!--BEGIN column 2 account settings-->
    <div class="col-md-9  mt-5 p-5 col-content">
      <h3 class="title">Security</h3>
      <div class="mt-5 links">
        <mat-divider></mat-divider>
        <h4 class="title">Change Password</h4>
        <div class="account-edit-form">
          <form>
            <div class="row">
              <div class="col-md-8">
                <div class="form-group">
                  <label for="oldPassword">Old Password</label>
                  <input type="password" name="oldPassword"id="oldPassword" class="form-control">
                </div>

                <div class="form-group">
                  <label for="newPassword">New Password</label>
                  <input type="password" name="newPassword" id="newPassword" class="form-control">
                </div>

                <div class="form-group">
                  <label for="verifyPassword">Verify Password</label>
                  <input type="password" name="verifyPassword" id="verifyPassword" class="form-control">
                </div>
              </div>
              <div class="col-md-4">
                <div class="password-description">
                  <h5 class="text-dark">Change Your Password</h5>
                  <ul class="dashed">
                    <li>Must be at least 8 characters</li>
                    <li>Must contain at least 1 Capital letter</li>
                    <li>Must contain at least 1 number</li>
                    <li>Must contain at least 1 special character</li>
                  </ul>
                </div>
              </div>
            </div>
          </form>
          <!--END edit form-->
        </div>
      </div>

      <div class="factor-auth-descriptions mt-5">
        <h3 class="profile-links text-dark">Two Factor Authentications(2FA)</h3>
        <div class="divider mt-5">
          <mat-divider></mat-divider>
        </div>
        <p class="">
          Two-factor authentication (2FA) is a security system that requires two distinct forms of identification in order to access something.
        </p>

        <div class="row">
          <div class="col-md-6"> <mat-checkbox [checked]="true" class="example-margin">Enable Email Verification!</mat-checkbox> </div>
          <div class="col-md-6"> <mat-checkbox [checked]="true" class="example-margin">Enable Email Verification!</mat-checkbox></div>
        </div>
      </div>
      <div class="divider mt-5">
        <mat-divider></mat-divider>
      </div>

      <div class="row mt-5 edit-buttons">
        <div class="col-md-6 discard">
          <button class="">Discard Changes</button>
        </div>
        <div class="col-md-6 profile">
          <button class="">Save Changes</button>
        </div>
      </div>
    </div>
  </div>
</div>
