.content {
  height: calc(100vh - 98px);
  border-radius: 10px;
  margin: 16px 32px;
  font-size: 2rem;
  color: lightgray;
}
.back{
  font-family: 'Poppins',sans-serif;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 175.6%;
  /* or 32px */
  color: #000000;

}
.content-header{
  margin: 20px;
}
.content-header .status{
  background: #E1EAFB;
  border-radius: 3px;
  font-family: 'Poppins',sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 175.6%;
  text-align: center;
  color: #006F34;
  border: 0;
}
.content-header .edit-button{
  border: 0;
  background: #FFFFFF;
}
.content-header .clear-button{
  border-color: #FBA714;
  color: #FBA714;
  background: #FFFFFF;
}
.divider{
  margin-top: 20px;
}
.invitee-details{
  margin:20px;
}

.invitee-details h4{
  font-family: 'Poppins',sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 175.6%;
  /* or 42px */
  color: #000000;
}
.invitee-details p{
  font-family: 'Poppins',sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 175.6%;
  /* or 35px */
  color: #000000;
}
.reason-for-appointment p{
  font-family: 'Poppins',sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 175.6%;
  /* or 35px */
  color: #000000;
}
.delete{
  font-family: 'Poppins',sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 175.6%;
  margin: 5px;
  text-align: right;
  text-decoration-line: underline;
  color: #FF0000;
}
