.content {
  height: auto;
  border-radius: 10px;
  margin: 16px 32px;
  font-size: 2rem;
  color: lightgray;
}
table{
  border: 2px solid #333333;
  box-sizing: border-box;
}
thead{
  background: #E1EAFB;
  font-family: 'Poppins',sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 175.6%;
  color: #333333;
}
tbody td{
  font-family: 'Poppins',sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 175.6%;
  color: #333;
  cursor: pointer;
}
.table-totals{
  font-family: 'Poppins',sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 175.6%;
  /* or 32px */
  color: #000000;
}
.pagination-text{
  font-size: 12px;
}
@media only screen
and (min-device-width: 0)
and (max-device-width: 319px)
{
.add-new-action-button{
  text-align: center;
}
}
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
{
  .add-new-action-button{
    text-align: right;
  }
}

@media only screen
and (min-device-width: 481px)
and (max-device-width: 576px)
{
  .add-new-action-button{
    text-align: right;
  }
}

@media only screen
and (min-device-width: 577px)
and (max-device-width: 768px)
{
  .add-new-action-button{
    text-align: right;
  }
}

@media only screen
and (min-device-width: 0)
and (max-device-width: 319px)
{
  .add-new-citizen{

  }
}

@media only screen
and (min-device-width: 0)
and (max-device-width: 319px)
{
  .add-new-citizen{

  }
}
