<div class="mat-elevation-z8 content">
  <div *ngIf="loading" class="d-flex justify-content-center my-1">
    <div class="spinner-border" role="status" aria-hidden="true"></div>
  </div>
  <div class="m-5">
    <form *ngIf="project">
      <div class="form-row">
        <div class="col-md-4">
          <label>Name</label>
          <input type="text" class="form-control" [value]="project.name">
        </div>

        <div class="col-md-4">
          <label>Category</label>
          <input type="text" class="form-control" [value]="project.category">
        </div>

        <div class="col-md-4">
          <label>Description</label>
          <textarea  class="form-control text-lowercase" [value]="project.description"></textarea>
        </div>

        <div class="col-md-4">
          <label>Ministry</label>
          <input type="text" class="form-control" [value]="project.ministry">
        </div>

        <div class="col-md-4">
          <label>Status</label>
          <input type="text" class="form-control" [value]="project.status">
        </div>

        <div class="col-md-4">
          <label>Client</label>
          <input type="text" class="form-control" [value]="project.client">
        </div>

        <div class="col-md-4">
          <label>Contractor</label>
          <input type="text" class="form-control" [value]="project.contractor">
        </div>

        <div class="col-md-4">
          <label>Contractor Contacts</label>
          <input type="text" class="form-control" [value]="project.contractor_contacts">
        </div>

        <div class="col-md-4">
          <label>Facilitator</label>
          <input type="text" class="form-control" [value]="project.facilitator_name">
        </div>

        <div class="col-md-4">
          <label>Facilitator Contacts</label>
          <input type="text" class="form-control" [value]="project.facilitator_contacts">
        </div>

        <div class="col-md-4">
          <label>Start Date</label>
          <input type="text" class="form-control" [value]="project.start_date">
        </div>

        <div class="col-md-4">
          <label>End Date</label>
          <input type="text" class="form-control" [value]="project.end_date">
        </div>

        <div class="col-md-4">
          <label>Duration</label>
          <input type="text" class="form-control" [value]="project.total_duration">
        </div>

        <div class="col-md-4">
          <label>Added On:</label>
          <input type="text" class="form-control" [value]="project['created_at']| date">
        </div>

      </div>
    </form>
  </div>
</div>
