<div class="content mat-elevation-z8">
  <p class="m-1 p-1 text-right"><a class="btn btn-danger text-right mt-2 ml-5" [routerLink]="['/admin/official-categories/add-local-government']">Add Officials Category</a></p>
  <div class="citizens">
    <div class="table-responsive">
      <h4 class="text-center text-dark">Kogi State Categories</h4>
      <table class="table table-striped table-hover table-bordered">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col" class="text-center">Name</th>
          <th scope="col" class="text-center">Description</th>
<!--          <th scope="col" class="text-center">View</th>-->
          <th scope="col" class="text-center">Edit</th>
          <th scope="col" class="text-center">Remove</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let category of categories;let i=index">
          <td class="">{{i+1}}</td>
          <td class="">{{category.category_name}}</td>
          <td class="">{{category.category_description || 'No description found'}}</td>
          <td class="text-center"><button class="btn btn-success" (click)="onCategoryClick(category)" data-target="#viewLGA" data-toggle="modal"><i class="fas fa-edit"></i> </button></td>
          <td class="text-center"> <button class="btn btn-danger" (click)="removeCategory(category.id)"><i class="fas fa-trash"></i></button></td>
        </tr>

        </tbody>
      </table>
    </div>
  </div>
  <div *ngIf="loading" class="d-flex justify-content-center my-1">
    <div class="spinner-border" role="status" aria-hidden="true"></div>
  </div>
</div>


<!-- BEGIN LGA details -->
<div *ngIf="selectedCategory" class="modal fade" data-backdrop="false" id="viewLGA" tabindex="-1" role="dialog" aria-labelledby="editRoleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="viewLGAModalLabel">{{selectedCategory.category_name}}</h1>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="editCategoryForm" (ngSubmit)="onCategoryEdit()">
          <div class="form-group">
            <label>Name</label>
            <input type="text" [placeholder]="selectedCategory.category_name"class="form-control" formControlName="category_name">
          </div>
          <div class="form-group">
            <label>Description</label>
            <input type="text" [placeholder]="selectedCategory.category_description" class="form-control" formControlName="category_description">
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-success">Update {{selectedCategory.category_name}}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!--END modal LGA viewer-->
