<div class="content mat-elevation-z8 ">
  <div class="row justify-content-around">
    <div class="col-md-3 mt-5 p-5">
      <h3 class="title">Settings</h3>
      <mat-divider></mat-divider>

      <div class="update-account-alert mt-5">
        <div class="row">
          <div class="col-md-1">
            <mat-icon class="text-warning">report</mat-icon>
          </div>
          <div class="col-md-11">
            <h4 class="">Account Settings</h4>
            <p>Complete your profile to gain access to all features</p>
          </div>
          <a [routerLink]="['/']" class="complete-profile-button text-white">Complete My Profile</a>
        </div>
      </div>

      <div class="mt-5 links">
        <mat-divider></mat-divider>
        <a class="profile-links" [routerLink]="['/admin/profile/account-settings']">Account Settings</a>
        <p class="inline-links">Personal Information,email</p>
      </div>

      <div class="mt-5 links">
        <mat-divider></mat-divider>
        <a class="profile-links" [routerLink]="['/admin/profile/account-security']">Security</a>
        <p class="inline-links">Change Password, 2FA</p>
      </div>

      <div class="mt-5 links">
        <mat-divider></mat-divider>
        <h4 class="title">Appearance</h4>
        <p class="inline-links">Dark and Light mode, Font size</p>
      </div>
    </div>
    <!--END column 1 account settings-->

    <!--BEGIN column 2 account settings-->
    <div class="col-md-9  mt-5 p-5  col-content">
      <h3 class="title">Appearance</h3>
      <div class="divider mt-5">
        <mat-divider></mat-divider>
      </div>

      <div class="row mt-5 edit-buttons">
        <div class="col-md-6 discard">
          <button class="">Discard Changes</button>
        </div>
        <div class="col-md-6 profile">
          <button class="">Save Changes</button>
        </div>
      </div>
    </div>
  </div>
</div>
