<div class="content mat-elevation-z8" *appAccessControl="[permissionType.VIEW_ROLES,'page']">
  <p  *appAccessControl="[permissionType.CREATE_ROLES,'nav']" class="text-right p-2 m-2"><a class="btn btn-danger" [routerLink]="['/admin/manage-users/add-new-roles']">Add New Role</a></p>
  <div class="citizens">
    <div class="table-responsive">
      <h4 class="text-center text-dark">System Roles</h4>
      <table class="table table-striped table-hover table-bordered">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col" class="text-center" *appAccessControl="[permissionType.VIEW_ROLES,'nav']">View</th>
          <th scope="col" class="text-center" *appAccessControl="[permissionType.EDIT_ROLES,'nav']">Edit</th>
          <th scope="col" class="text-center" *appAccessControl="[permissionType.DELETE_ROLES,'nav']">Remove</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let role of roles;let i=index">
          <td class="">{{i+1}}</td>
          <td class="">{{role.display_name}}</td>
          <td class="">{{role.description}}</td>
          <td class="text-center" *appAccessControl="[permissionType.VIEW_ROLES,'nav']"><button (click)="onRoleClick(role)" class="btn btn-success"data-toggle="modal" data-target="#roleDetails"><i class="fas fa-eye"></i> </button></td>
          <td class="text-center" *appAccessControl="[permissionType.EDIT_ROLES,'nav']"><button (click)="onRoleClick(role)" class="btn btn-primary"data-toggle="modal" data-target="#editRole"><i class="fas fa-user-edit"></i> </button></td>
          <td class="text-center" *appAccessControl="[permissionType.DELETE_ROLES,'nav']"> <button (click)="removeRole(role.id)" class="btn btn-danger"><i class="fas fa-trash"></i></button></td>
        </tr>

        </tbody>
      </table>
    </div>
  </div>
  <div *ngIf="loading" class="d-flex justify-content-center my-1">
    <div class="spinner-border" role="status" aria-hidden="true"></div>
  </div>
</div>

<!-- Role Details -->
<div *ngIf="selectedRole" class="modal fade" data-backdrop="false" id="roleDetails" tabindex="-1" role="dialog" aria-labelledby="roleDetailsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="roleDetailsModalLabel">{{selectedRole.display_name}} Permissions</h1>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
          <table class="table table-striped table-active table-bordered">
            <thead class="thead-light">
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Description</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let perm of selectedRole.permissions|paginate :{
                  itemsPerPage: tableSize,
                  currentPage: page,
                  totalItems: count
                  }
            ;let i=index;">
              <td>{{i+1}}</td>
              <td>{{perm.display_name}}</td>
              <td>{{perm.description}}</td>
            </tr>
          </table>
          <div class="d-flex justify-content-left p-2 mt-2 pagination-text">
            <pagination-controls
              [responsive]="true"
              previousLabel="Prev"
              nextLabel="Next"
              [maxSize]="7"
              [directionLinks]="true"
              [autoHide]="true"
              screenReaderPaginationLabel="Pagination"
              screenReaderPageLabel="page"
              screenReaderCurrentLabel="You're on page"
              (pageChange)="onTableDataChange($event)">
            </pagination-controls>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!--END modal role details viewer-->


<!-- BEGIN edit role details -->
<div *ngIf="selectedRole" class="modal fade" data-backdrop="false" id="editRole" tabindex="-1" role="dialog" aria-labelledby="editRoleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="editRoleModalLabel">{{selectedRole.name}}</h1>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="editRoleForm" (ngSubmit)="onRoleUpdate()">
          <div class="form-group">
            <label>Role Name</label>
            <input type="text" [value]="selectedRole.name" class="form-control" formControlName="name">
          </div>
          <div class="form-group">
            <label>Role Display Name</label>
            <input type="text" [value]="selectedRole.display_name" class="form-control" formControlName="display_name">
          </div>
          <div class="form-group">
            <label>Role Description</label>
            <input type="text" [value]="selectedRole.description" class="form-control" formControlName="description">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-success">Update {{selectedRole.name}}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!--END modal Role edit viewer-->
