<div class="content mat-elevation-z8 ">
  <h3>Proposal Details</h3>
  <div *ngIf="loading" class="d-flex justify-content-center my-1">
    <div class="spinner-border" role="status" aria-hidden="true"></div>
  </div>
  <div class="suggestion" *ngIf="suggestion">
    <div class="attachment">
      <img [src]="imageURL+suggestion.attachment_url"alt="attachment">
    </div>
    <div class="suggestion-body">
      <h4>Submitted {{suggestion.created_at|dateAgo}} By: {{suggestion.user.first_name}} {{suggestion.user.last_name}} <span class="badge badge-danger">{{suggestion.status}}</span></h4>
      <p>{{suggestion.message}}</p>
    </div>
    <div class="suggestion-body" *ngIf="suggestion.response">
      <h4>You Reacted to this suggestion {{suggestion.updated_at|dateAgo}} By: </h4>
      <p>{{suggestion.response}}</p>
    </div>
  </div>
</div>
