<div class="content mat-elevation-z8 ">
  <h3>Inquiry Details</h3>
  <div *ngIf="loading" class="d-flex justify-content-center my-1">
    <div class="spinner-border" role="status" aria-hidden="true"></div>
  </div>
  <div class="suggestion" *ngIf="inquiry">
    <div class="attachment">
      <img [src]="imageURL+inquiry.attachment_url"alt="attachment">
    </div>
    <div class="suggestion-body">
      <h4>Submitted {{inquiry.created_at|dateAgo}} By: {{inquiry.user.first_name}} {{inquiry.user.last_name}} <span class="badge badge-danger">{{inquiry.status}}</span></h4>
      <p>{{inquiry.description}}</p>
    </div>
    <div class="suggestion-body" *ngIf="inquiry.response">
      <h4>You Reacted to this suggestion {{inquiry.updated_at|dateAgo}} By: </h4>
      <p>{{inquiry.response}}</p>
    </div>
  </div>
</div>
