<div class="content mat-elevation-z8 ">
  <a class="back" [routerLink]="['/appointments/my-appointments']">
    <span class=""><mat-icon>keyboard_backspace</mat-icon>
    </span>Back to Complaints
  </a>

  <div class="row justify-content-evenly content-header">
    <div class="col-md-6 text-left action-buttons">
      <button class="status">Pending</button>
    </div>
    <div class="col-md-6 text-right">
      <div class="row">
        <div class="col-md-10"></div>
        <div class="col-md-1 border-end p-2"><button class="edit-button"><mat-icon> border_color</mat-icon></button></div>
        <div class="col-md-1 p-2"><button class="clear-button"><mat-icon>clear</mat-icon></button></div>
      </div>
    </div>
  </div>
  <div class="divider">
    <mat-divider></mat-divider>
  </div>

  <div class="invitee-details">
    <h4 class="title">Submitted To</h4>
    <div class="divider">
      <mat-divider></mat-divider>
    </div>

    <div class="row mt-5">
      <div class="col-md-6"><p class=""><mat-icon>perm_identity</mat-icon> Dr. Alisu Dansuki</p></div>
      <div class="col-md-6"><p class=""><mat-icon>email</mat-icon> emailaddress@email.com</p></div>
    </div>

    <div class="row">
      <div class="col-md-6"><p class=""><mat-icon>work</mat-icon> Chief of Staff</p></div>
      <div class="col-md-6"><p class=""><mat-icon> call</mat-icon> +234 908 765 4321</p></div>
    </div>

  </div>

  <!--BEGIN appointment details-->
  <div class="invitee-details">
    <h4 class="title">Submission Details</h4>
    <div class="divider">
      <mat-divider></mat-divider>
    </div>

    <div class="row mt-5">
      <div class="col-md-6"><p class=""><mat-icon>calendar_today</mat-icon> Jan. 7th, 2020.</p></div>
      <div class="col-md-6"><p class=""><mat-icon>query_builder</mat-icon> 11:30 AM</p></div>
    </div>

    <div class="reason-for-appointment mt-3">
      <p>Complaint</p>
      <p class="border">
        est. Sed lectus. Praesent elementum hendrerit tortor.
      </p>
    </div>
  </div>

  <a class="delete">Delete Complaint</a>
  <!--END appointment details-->
</div>
