<!--<ul>-->
<!--  <li *ngFor="let child of items">-->
<!--    <mat-checkbox color="primary">{{ child.name }}</mat-checkbox>-->
<!--    <ng-container *ngIf="child.subCategories.length > 0">-->
<!--      <app-recursive [items]="child.subCategories"></app-recursive>-->
<!--    </ng-container>-->
<!--  </li>-->
<!--</ul>-->
<!--<select class="form-control">-->
<!--  <option *ngFor="let child of items"  value="">-->
<!--    <ng-container *ngIf="child.subCategories.length > 0">-->
<!--      <app-recursive [items]="child.subCategories"></app-recursive>-->
<!--    </ng-container>-->
<!--  </option>-->
<!--</select>-->
