<div class="content mat-elevation-z8">
  <div class="appointment-heading">
    <h5 class="text-center">Appointments</h5>
  </div>

  <div class="appointment-table">
<!--    <div class="row">-->
<!--      <div class="col-md-9"><h4 class="appointment-list">Showing All Appointments</h4></div>-->
<!--      <div class="col-md-3">-->
<!--        <label>Show Date:</label>-->
<!--        <select class="select-date">-->
<!--          <option value="">dd/mm/yyyy</option>-->
<!--        </select>-->
<!--      </div>-->
<!--    </div>-->
    <div class="table-responsive">
      <table class="table table-bordered table-hover table-striped">
        <thead class="thead-bg">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Officer To Be Seen</th>
          <th scope="col">Purpose</th>
          <th scope="col">proposed Date</th>
          <th scope="col" class="text-center">Status</th>
          <th scope="col" class="text-center">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let appointment of appointments;let i=index">
          <td class="">{{i+1}}</td>
          <td class="">{{appointment['first_name']}} {{appointment['last_name']}}</td>
          <td class="">{{appointment.official}}</td>
          <td class="">{{appointment.message}}</td>
          <td class="">{{appointment.date}}</td>
          <td class="text-center text-success"><span class="">{{appointment.status}}</span></td>
          <td class="text-center">
            <button mat-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
            <mat-menu #menu="matMenu">
              <a [routerLink]="['/appointments/my-appointments/details']" mat-menu-item>View Entry</a>
              <a [routerLink]="['/appointments/my-appointments/edit']" mat-menu-item>Leave Comment</a>
              <a mat-menu-item class="text-danger">Delete Entry</a>
            </mat-menu>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="loading" class="d-flex justify-content-center my-1">
      <div class="spinner-border" role="status" aria-hidden="true"></div>
    </div>
  </div>
</div>
