<div class="content mat-elevation-z8" *appAccessControl="[permissions.VIEW_APPOINTMENTS,'page']">
  <div class="appointment-heading">
    <h5 class="text-center">Appointments</h5>
  </div>

  <div class="appointment-table">
    <div class="table-responsive">
      <table class="table table-bordered table-hover table-striped">
        <thead class="thead-bg">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Category</th>
          <th scope="col">Officer</th>
          <th scope="col">Purpose</th>
          <th scope="col">proposed Date</th>
          <th scope="col">Response</th>
          <th scope="col" class="text-center">Status</th>
          <th scope="col" class="text-center">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let appointment of appointments;let i=index">
          <td class="">{{i+1}}</td>
          <td class="">{{appointment.user.first_name}} {{appointment.user.last_name}}</td>
          <td class="">{{appointment.category.category_name}}</td>
          <td class="">{{appointment.sub_category.sub_category_name}}</td>
          <td class="">{{appointment.appointment_reason}}</td>
          <td class="">{{appointment.date | date:'full'}}</td>
          <td class="">{{appointment.official_response || 'No response yet'}}</td>
          <td class="text-center text-success"><span class="">{{appointment.status}}</span></td>
          <td class="text-center">
            <button mat-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
            <mat-menu #menu="matMenu">
              <a [routerLink]="['/appointments/my-appointments/details']" mat-menu-item>View Entry</a>
              <a *appAccessControl="[permissions.RESPOND_TO_APPOINTMENTS,'nav']" [routerLink]="['/appointments/my-appointments/edit']" (click)="onAppointmentClick(appointment.id)" mat-menu-item data-toggle="modal" data-target="#exampleModal">
               Respond
              </a>
              <a mat-menu-item class="text-danger">Delete Entry</a>
            </mat-menu>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="loading" class="d-flex justify-content-center my-1">
      <div class="spinner-border" role="status" aria-hidden="true"></div>
    </div>
  </div>
</div>

<!-- Button trigger modal -->
<!-- Modal -->
<div *appAccessControl="[permissions.RESPOND_TO_APPOINTMENTS,'page']" class="modal fade" data-backdrop="false" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Respond to Appointment Request</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="responseForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="response">Response</label>
            <textarea class="form-control" cols="7" rows="7" id="response" formControlName="response"></textarea>
          </div>

          <div class="form-group">
            <label for="date">Fix Date</label>
            <input type="datetime-local" class="form-control" id="date" formControlName="date">
          </div>

          <div class="form-group">
            <label for="date">Status</label>
            <select class="form-control" formControlName="status">
              <option value="Under Review">Under Review</option>
              <option value="Approved">Approved</option>
              <option value="Rejected">Rejected</option>
            </select>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button *ngIf="!submitting" [disabled]="responseForm.invalid" type="submit" class="btn btn-danger">Send Response</button>
            <button *ngIf="submitting" type="button" class="btn btn-success">Sending Response...</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
