<div class="content mat-elevation-z8" *appAccessControl="[permissionType.VIEW_QUERIES,'page']">
  <h5 class="text-center title">Proposals</h5>

  <div class="appointment-table">
    <div class="table-responsive">
      <table class="table table-bordered table-hover table-striped">
        <thead class="thead-bg">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Date</th>
          <th scope="col">Attachment</th>
          <th scope="col">Name</th>
          <th scope="col">proposal</th>
          <th scope="col">Response</th>
          <th scope="col" class="text-center">Status</th>
          <th scope="col" class="text-center" *appAccessControl="[permissionType.RESPOND_TO_IDEAS,'nav']">Actions</th>
        </tr>
        </thead>
        <tbody>

        <tr *ngFor="let proposal of proposals;let i=index">
          <td class="">{{i+1}}</td>
          <td class="">{{proposal.created_at | date}}</td>
          <td class="text-center">
            <img [src]="imageURL+proposal.attachment_url"alt="attachment" height="50" width="50" class="rounded-circle">
          </td>
          <td class="">{{proposal.user.first_name}} {{proposal.user.last_name}}</td>
          <td class="">{{proposal.message}}</td>
          <td class="">
            <span *ngIf="proposal.response">{{proposal.response}}</span>
            <span *ngIf="!proposal.response" class="text-danger">You have not responded to this proposal</span>
          </td>
          <td class="text-center text-success"><span class="">Pending</span></td>
          <td class="text-center">
            <button mat-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
            <mat-menu #menu="matMenu">
              <a [routerLink]="['/admin/proposals/submissions/details']" mat-menu-item>View Entry</a>
              <a [routerLink]="['/admin/proposals/my-submissions/details']" mat-menu-item>Respond</a>
              <a mat-menu-item class="text-danger">Delete Entry</a>
            </mat-menu>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class=""*ngIf="proposals">
      <h4 class="text-center"*ngIf="proposals.length==0">You have no new proposals</h4>
    </div>
    <div *ngIf="loading" class="d-flex justify-content-center my-1">
      <div class="spinner-border" role="status" aria-hidden="true"></div>
    </div>
  </div>
</div>
