<div class="content mat-elevation-z8">
<div class="citizens">
  <a class="btn btn-danger text-right mt-2 ml-5" [routerLink]="['/manage-users/add-new-citizens']">Add New Citizen</a>
  <div class="table-responsive">
    <h4 class="text-center text-dark">List Of Citizens</h4>
    <table class="table table-striped table-hover table-bordered">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col" class="text-center">Edit</th>
        <th scope="col" class="text-center">Block</th>
        <th scope="col" class="text-center">Remove</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td class="">1</td>
        <td class="">John Doe</td>
        <td class="">johdoe@example.com</td>
        <td class="">+13484764646</td>
        <td class="text-center"><button class="btn btn-primary"><i class="fas fa-user-edit"></i> </button></td>
        <td class="text-center"><button class="btn btn-danger"><i class="fas fa-stop-circle"></i></button> </td>
        <td class="text-center"> <button class="btn btn-danger"><i class="fas fa-trash"></i></button></td>
      </tr>

      <tr>
        <td class="">2</td>
        <td class="">John Doe</td>
        <td class="">johdoe@example.com</td>
        <td class="">+13484764646</td>
        <td class="text-center"><button class="btn btn-primary"><i class="fas fa-user-edit"></i> </button></td>
        <td class="text-center"><button class="btn btn-danger"><i class="fas fa-stop-circle"></i></button> </td>
        <td class="text-center"> <button class="btn btn-danger"><i class="fas fa-trash"></i></button></td>
      </tr>

      <tr>
        <td class="">3</td>
        <td class="">John Doe</td>
        <td class="">johdoe@example.com</td>
        <td class="">+13484764646</td>
        <td class="text-center"><button class="btn btn-primary"><i class="fas fa-user-edit"></i> </button></td>
        <td class="text-center"><button class="btn btn-danger"><i class="fas fa-stop-circle"></i></button> </td>
        <td class="text-center"> <button class="btn btn-danger"><i class="fas fa-trash"></i></button></td>
      </tr>

      <tr>
        <td class="">4</td>
        <td class="">John Doe</td>
        <td class="">johdoe@example.com</td>
        <td class="">+13484764646</td>
        <td class="text-center"><button class="btn btn-primary"><i class="fas fa-user-edit"></i> </button></td>
        <td class="text-center"><button class="btn btn-danger"><i class="fas fa-stop-circle"></i></button> </td>
        <td class="text-center"> <button class="btn btn-danger"><i class="fas fa-trash"></i></button></td>
      </tr>

      <tr>
        <td class="">5</td>
        <td class="">John Doe</td>
        <td class="">johdoe@example.com</td>
        <td class="">+13484764646</td>
        <td class="text-center"><button class="btn btn-primary"><i class="fas fa-user-edit"></i> </button></td>
        <td class="text-center"><button class="btn btn-danger"><i class="fas fa-stop-circle"></i></button> </td>
        <td class="text-center"> <button class="btn btn-danger"><i class="fas fa-trash"></i></button></td>
      </tr>


      <tr>
        <td class="">6</td>
        <td class="">John Doe</td>
        <td class="">johdoe@example.com</td>
        <td class="">+13484764646</td>
        <td class="text-center"><button class="btn btn-primary"><i class="fas fa-user-edit"></i> </button></td>
        <td class="text-center"><button class="btn btn-danger"><i class="fas fa-stop-circle"></i></button> </td>
        <td class="text-center"> <button class="btn btn-danger"><i class="fas fa-trash"></i></button></td>
      </tr>

      <tr>
        <td class="">7</td>
        <td class="">John Doe</td>
        <td class="">johdoe@example.com</td>
        <td class="">+13484764646</td>
        <td class="text-center"><button class="btn btn-primary"><i class="fas fa-user-edit"></i> </button></td>
        <td class="text-center"><button class="btn btn-danger"><i class="fas fa-stop-circle"></i></button> </td>
        <td class="text-center"> <button class="btn btn-danger"><i class="fas fa-trash"></i></button></td>
      </tr>

      </tbody>
    </table>
  </div>
</div>
</div>
