<div class="content mat-elevation-z8" *appAccessControl="[permissions.VIEW_CITIZEN,'page']">
  <p class="m-1 p-1 text-right"  *appAccessControl="[permissions.CREATE_CITIZEN,'nav']"><a class="btn btn-danger mt-2 ml-5" [routerLink]="['/admin/manage-users/add-new-citizens']">Add New Citizen</a></p>
  <div class="citizens">
    <div class="table-responsive">
      <h4 class="text-center text-dark">List Of Citizens</h4>
      <table class="table table-striped table-hover table-bordered">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Phone</th>
          <th scope="col">Status</th>
          <th scope="col" class="text-center" *appAccessControl="[permissions.EDIT_CITIZEN,'nav']">Edit</th>
          <th scope="col" class="text-center" *appAccessControl="[permissions.DELETE_CITIZEN,'nav']">Block</th>
          <th scope="col" class="text-center" *appAccessControl="[permissions.DELETE_CITIZEN,'nav']">Remove</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let citizen of citizens | paginate :{
                  itemsPerPage: tableSize,
                  currentPage: page,
                  totalItems: count
                  };let i=index;">
          <td class="">{{i+1}}</td>
<!--          <td class="" title="Click Me to enlarge image" (click)="onCitizenChange(citizen)"data-toggle="modal" data-target="#exampleModal">-->
<!--            <img [src]="assetsURL+citizen.avatar" alt="avatar" width="70" height="70" class="rounded-circle">-->
<!--          </td>-->
          <td class="">{{citizen.first_name}} {{citizen.last_name}}</td>
          <td class="">{{citizen.email}}</td>
          <td class="">{{citizen.phone}}</td>
          <td class="text-center">
            <span class="badge badge-success" *ngIf="citizen.user_is_suspended==false">active</span>
            <span class="badge badge-danger" *ngIf="citizen.user_is_suspended==true">suspended</span>
          </td>
          <td class="text-center" *appAccessControl="[permissions.EDIT_CITIZEN,'nav']"><button class="btn btn-primary"><i class="fas fa-user-edit"></i> </button></td>
          <td class="text-center" *appAccessControl="[permissions.DELETE_CITIZEN,'nav']">
            <button *ngIf="citizen.user_is_suspended==false" (click)="suspend(citizen.id)" class="btn btn-danger"><i class="fas fa-stop-circle"></i></button>
            <button *ngIf="citizen.user_is_suspended==true" (click)="activate(citizen.id)" class="btn btn-success"><i class="fas fa-unlock"></i></button>
          </td>
          <td class="text-center" *appAccessControl="[permissions.DELETE_CITIZEN,'nav']"> <button class="btn btn-danger" title="Delete Official" (click)="remove(citizen.id)"><i class="fas fa-trash"></i></button></td>
        </tr>
        </tbody>
      </table>
    </div>
    <pagination-controls
      [responsive]="true"
      previousLabel="Prev"
      nextLabel="Next"
      [maxSize]="9"
      [directionLinks]="true"
      [autoHide]=true
      screenReaderPaginationLabel="Pagination"
      screenReaderPageLabel="page"
      screenReaderCurrentLabel="You're on page"
      (pageBoundsCorrection)="pageChanged($event)"
      (pageChange)="onTableDataChange($event)">
    </pagination-controls>

    <div *ngIf="loading" class="d-flex justify-content-center my-1">
      <div class="spinner-border" role="status" aria-hidden="true"></div>
    </div>
  </div>
</div>

<!--BEGIN modal Avatar viewer-->

<!-- Modal -->
<div *ngIf="selectedCitizen" class="modal fade" data-backdrop="false" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="exampleModalLabel">{{selectedCitizen.first_name}} {{selectedCitizen.last_name}}</h1>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img [src]="assetsURL+selectedCitizen.avatar" alt="" width="480">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!--END modal Avatar viewer-->
