<div class="content mat-elevation-z8">
  <h2 class="text-center text-dark">Add News/Events</h2>
  <div class="add-new-user">
    <form [formGroup]="newsForm" (ngSubmit)="onNewsSubmit()">
      <div class="form-row m-3">
        <div class="col-md-4">
          <label for="title">Title</label>
          <input type="text" id="title" formControlName="title" class="form-control" placeholder="Agriculture"required="">
        </div>
        <div class="col-md-4">
          <label for="description">Description</label>
          <input type="text" id="description" formControlName="description" class="form-control" placeholder=""required="">
        </div>

        <div class="col-md-4">
          <label for="target_audience">Target Audience</label>
          <input type="text" id="target_audience" formControlName="target_audience" class="form-control" placeholder=""required="">
        </div>

        <div class="col-md-4">
          <label for="news_banner">News Banner</label>
          <input type="file" id="news_banner" (change)="handleFileInput($event)" class="form-control-file"required="">
        </div>

      </div>
      <div class="submission m-4 text-right">
        <button class="btn btn-danger">Add News/Events</button>
      </div>
    </form>
  </div>
</div>
