<div class="content mat-elevation-z8" *appAccessControl="[permissionType.VIEW_PROJECTS,'page']">
  <div class="row header p-3">
    <div class="col-md-6">
      <h4>List of Projects</h4>
    </div>
    <div class="col-md-6 content-right">
      <p *appAccessControl="[permissionType.CREATE_PROJECTS,'nav']">
        <a class="btn" [routerLink]="['/admin/projects/add-new-kogi-project']"><i class="fas fa-plus-circle"></i> Add New Projects</a>
      </p>
    </div>
  </div>
  <div class="citizens p-3">
    <div class="table-responsive">
      <table class="table table-striped table-hover table-bordered">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Image</th>
          <th scope="col">Name</th>
          <th scope="col">Client</th>
          <th scope="col">Start Date</th>
          <th scope="col">End Date</th>
          <th scope="col">Duration</th>
          <th scope="col" class="text-center">Status</th>
          <th scope="col" class="text-center" *appAccessControl="[permissionType.VIEW_PROJECTS,'nav']" >View</th>
          <th scope="col" class="text-center" *appAccessControl="[permissionType.EDIT_PROJECTS,'nav']" >Edit</th>
          <th scope="col" class="text-center" *appAccessControl="[permissionType.DELETE_PROJECTS,'nav']" >Remove</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let project of projects|paginate :{
                  itemsPerPage: tableSize,
                  currentPage: page,
                  totalItems: count
                  };let i=index">
          <td class="">{{i+1}}</td>
          <td class="text-center">
            <img [src]="imageURL+project['image_path']" class="rounded-circle" width="50" height="50" alt="">
          </td>
          <td class="">{{project.name}}</td>
          <td class="">{{project.client}}</td>
          <td class="">{{project.start_date}}</td>
          <td class="">{{project.end_date}}</td>
          <td class="">{{project.total_duration}}</td>
          <td class="text-center">
            <span *ngIf="project.status=='completed'" class="badge badge-success">{{project.status}}</span>
            <span *ngIf="project.status=='in-progress'" class="badge badge-danger">{{project.status}}</span>
            <span *ngIf="project.status=='upcoming'" class="badge badge-primary">{{project.status}}</span>
            <span *ngIf="project.status=='budgeted'" class="badge badge-warning">{{project.status}}</span>
          </td>
          <td class="text-center" *appAccessControl="[permissionType.VIEW_PROJECTS,'nav']"><button class="btn btn-success" (click)="projectDetails(project.id)"><i class="fas fa-eye"></i> </button></td>
          <td class="text-center" *appAccessControl="[permissionType.EDIT_PROJECTS,'nav']"><button class="btn btn-primary" (click)="redirectToEdit(project.id)"><i class="fas fa-user-edit"></i></button> </td>
          <td class="text-center" *appAccessControl="[permissionType.DELETE_PROJECTS,'nav']"> <button class="btn btn-danger" (click)="remove(project.id)"><i class="fas fa-trash"></i></button></td>
        </tr>
        </tbody>
      </table>
      <div class="d-flex justify-content-left p-2 mt-2 pagination-text">
        <pagination-controls
          [responsive]="true"
          previousLabel="Prev"
          nextLabel="Next"
          [maxSize]="7"
          [directionLinks]="true"
          [autoHide]="true"
          screenReaderPaginationLabel="Pagination"
          screenReaderPageLabel="page"
          screenReaderCurrentLabel="You're on page"
          (pageChange)="onTableDataChange($event)">
        </pagination-controls>
      </div>
    </div>
  </div>
  <div *ngIf="loading" class="d-flex justify-content-center my-1">
    <div class="spinner-border" role="status" aria-hidden="true"></div>
  </div>
</div>
