mat-toolbar {
  background: #004a9f;
  color: white;
}

mat-sidenav {
  margin: 16px;
  width: 250px;
  border-right: none;
  background: url("../../../../assets/images/background.jpg") no-repeat;
  background-size: cover;
  color: white;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
}

mat-sidenav-container {
  height: calc(100vh - 65px);
}

.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;
}
.active{
  background: #CA0C5C;
  border-radius: 3px;
  font-family: 'Poppins',sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  /* or 30px */
  color: #FFFFFF;
  width: 100%;
}

mat-icon {
  margin-right: 8px;
  color: rgba(255, 255, 255, 0.4);
}

.avatar {
  margin-top: 16px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.name {
  margin-top: 8px;
  font-weight: normal;
}

.designation {
  margin-top: 2px;
  font-size: 0.7rem;
  color: lightgrey;
}

mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.5);
}
