<mat-toolbar class="mat-elevation-z8">
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened">
      menu
    </mat-icon>
    <mat-icon *ngIf="sidenav.opened">
      close
    </mat-icon>
  </button>
  KOGAS OFFICIAL PORTAL
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">

    <button mat-button class="menu-button">
      <mat-icon>keyboard_backspace</mat-icon>
      <a class="text-decoration-none text-white" [href]="[homeURL]"> <span>Main Site</span></a>
    </button>
    <!--avatar-->
    <img class="avatar mat-elevation-z8" src="assets/images/miller.png"width="200" height="200"  alt=""/>
    <h4 class="name">{{user.first_name}} {{user.last_name}}</h4>
    <p class="designation">Government {{user.user_type}}</p>

    <mat-divider></mat-divider>
    <button mat-button class="menu-button">
      <mat-icon>account_box</mat-icon>
      <a class="text-decoration-none text-white" [routerLink]="['/admin/profile/account-settings']" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}"><span>My Profile</span></a>
    </button>

    <mat-divider></mat-divider>
    <button mat-button class="menu-button">
      <mat-icon>account_circle</mat-icon>
      <a class="text-decoration-none text-white" [routerLink]="['/manage-users/citizens-list']"><span>Citizens</span></a>
    </button>

    <mat-divider></mat-divider>
    <button mat-button class="menu-button">
      <mat-icon>lock</mat-icon>
      <a class="text-decoration-none text-white" [routerLink]="['/manage-users/roles-list']"><span>Roles</span></a>
    </button>

    <mat-divider></mat-divider>
    <button mat-button class="menu-button">
      <mat-icon>supervised_user_circle</mat-icon>
      <a class="text-decoration-none text-white" [routerLink]="['/manage-users/officials-list']"><span>Officials</span></a>
    </button>

    <mat-divider></mat-divider>
    <button mat-button class="menu-button">
      <mat-icon>business</mat-icon>
      <a class="text-decoration-none text-white" [routerLink]="['/ministry/kogi-ministries-list']"><span>Ministries</span></a>
    </button>

    <mat-divider></mat-divider>
    <button mat-button class="menu-button">
      <mat-icon>work</mat-icon>
      <a class="text-decoration-none text-white" [routerLink]="['/projects/kogi-projects-list']"><span>Projects</span></a>
    </button>

    <mat-divider></mat-divider>
    <button mat-button class="menu-button">
      <mat-icon>cell_wifi</mat-icon>
      <a class="text-decoration-none text-white" [routerLink]="['/news/news-list']"><span>News 	&amp; Events</span></a>
    </button>

    <mat-divider></mat-divider>
    <button mat-button class="menu-button">
      <mat-icon>date_range</mat-icon>
      <a class="text-decoration-none text-white" [routerLink]="['/admin/appointments/my-appointments']"><span>Appointments</span></a>
    </button>

    <mat-divider></mat-divider>
    <button mat-button class="menu-button">
      <mat-icon>email</mat-icon>
      <a class="text-decoration-none text-white" [routerLink]="['/admin/messages']"><span>Messages</span></a>
    </button>

    <mat-divider></mat-divider>
    <button mat-button class="menu-button">
      <mat-icon>info</mat-icon>
      <a class="text-decoration-none text-white" [routerLink]="['/admin/suggestions/submissions']"><span>Ideas/Suggestions</span></a>
    </button>

    <mat-divider></mat-divider>
    <button mat-button class="menu-button">
      <mat-icon>help</mat-icon>
      <a class="text-decoration-none text-white" [routerLink]="['/admin/complaints/my-query-lists']"><span>Query</span></a>
    </button>

    <mat-divider></mat-divider>
    <button mat-button class="menu-button">
      <mat-icon>logout</mat-icon>
      <a class="text-decoration-none text-white" (click)="signOut()"><span>Logout</span></a>
    </button>

  </mat-sidenav>
  <mat-sidenav-content>
    <!--BEGIN Main content here!-->
    <router-outlet></router-outlet>
    <!--END Main content here!-->
  </mat-sidenav-content>
</mat-sidenav-container>
