.layout-bg{
  background-image: url("../../../../assets/images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
}
.container-width{
  width: 94%;
}
.main-logo{
  text-align: left;
}
.kogi-logo{
  text-align: center;
}
.shield{
  text-align: right;
}

header{
  height: 13vh;
}
.section{
  height: calc(80vh);
  overflow-y: auto;
  transition: all 0.5s;
}

footer{
  color: #004598;
  height: 7vh;
}

.footer-copyright{
  font-family: 'Poppins',sans-serif;
  font-style: normal;
  font-weight: 500;
  color: #004598;
}
@media only screen and
(min-device-width: 100px) and
(max-device-width: 480px)
{
  .main-logo{
    text-align: left;
  }
  .kogi-logo{
    display: none;
  }
  .shield{
    display: none;
  }
}
