<div class="content mat-elevation-z8">
  <h2 class="text-center text-dark">Add New Citizens</h2>
  <div class="add-new-user">
    <form>
      <div class="form-row m-3">
        <div class="col-md-4">
          <label for="fullName">Full Name</label>
          <input type="text" id="fullName" name="fullName" class="form-control" placeholder="John Doe"required="">
        </div>
        <div class="col-md-4">
          <label for="phoneNumber">Phone Number</label>
          <input type="text" id="phoneNumber" name="phoneNumber" class="form-control" placeholder=""required="">
        </div>

        <div class="col-md-4">
          <label for="email">Email Address</label>
          <input type="email" id="email" name="email" class="form-control" placeholder=""required="">
        </div>

        <div class="col-md-4">
          <label for="city">Town/City</label>
          <input type="text" id="city" name="city" class="form-control" placeholder=""required="">
        </div>

        <div class="col-md-4">
          <label for="residence">Area Of Residence</label>
          <input type="text" id="residence" name="residence" class="form-control" placeholder=""required="">
        </div>

        <div class="col-md-4">
          <label for="tax">Tax Information</label>
          <input type="text" id="tax" name="tax" class="form-control" placeholder=""required="">
        </div>
      </div>
      <div class="submission m-4">
        <button class="btn btn-danger">Create Citizen</button>
      </div>
    </form>
  </div>
</div>
