<div class="content mat-elevation-z8">
  <h2 class="text-center text-dark">Add New Citizens</h2>
  <div class="add-new-user">
    <form [formGroup]="citizensForm" (ngSubmit)="onSubmit()">
      <div class="form-row m-3">
        <div class="col-md-4">
          <label for="firstName">First Name</label>
          <input type="text" id="firstName" formControlName="firstName" class="form-control" placeholder="John"required="">
        </div>

        <div class="col-md-4">
          <label for="lastName">First Name</label>
          <input type="text" id="lastName" formControlName="lastName" class="form-control" placeholder="Doe"required="">
        </div>

        <div class="col-md-4">
          <label for="phone">Phone Number</label>
          <input type="text" id="phone" formControlName="phone" class="form-control" placeholder=""required="">
        </div>

        <div class="col-md-4">
          <label for="email">Email Address</label>
          <input type="email" id="email" formControlName="email" class="form-control" placeholder=""required="">
        </div>

        <div class="col-md-4">
          <label for="city">City</label>
          <input type="text" id="city" formControlName="city" class="form-control" placeholder=""required="">
        </div>

        <div class="col-md-4">
          <label for="gender">Gender</label>
          <select id="gender" formControlName="gender"class="form-control">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Rather Not Say">Rather Not Say</option>
          </select>
        </div>

        <div class="col-md-4">
          <label for="LGA">Local Government Area</label>
          <input type="text" id="LGA" formControlName="LGA" class="form-control" placeholder=""required="">
        </div>

        <div class="col-md-4">
          <label for="password">Temporal Password</label>
          <input type="password" id="password" min="8" formControlName="password" placeholder="Enter official password" class="form-control"required="">
        </div>
      </div>
      <div class="submission m-4">
        <button type="submit" [disabled]="citizensForm.invalid" class="btn btn-danger">Create Citizen</button>
      </div>
    </form>
  </div>
</div>
