<div class="content mat-elevation-z8">
  <div class="row appointment-heading">
    <div class="col-md-9 appointment-cols">
      <h5 class="title">Ideas/Suggestions</h5>
    </div>
    <div class="col-md-3 appointment-cols">
      <a class="add-appointment" [routerLink]="['/']"><mat-icon>queue</mat-icon> New Suggestion</a>
    </div>
  </div>

  <div class="appointment-table">
    <div class="row">
      <div class="col-md-9"><h4 class="appointment-list">Showing All Submissions</h4></div>
      <div class="col-md-3">
        <label>Show Date:</label>
        <select class="select-date">
          <option value="">dd/mm/yyyy</option>
        </select>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-bordered table-hover table-striped">
        <thead class="thead-bg">
        <tr>
          <th scope="col">S/N</th>
          <th scope="col">Date Created</th>
          <th scope="col">Description</th>
          <th scope="col">Submitted To</th>
          <th scope="col" class="text-center">Status</th>
          <th scope="col" class="text-center">Actions</th>
        </tr>
        </thead>
        <tbody>

        <tr>
          <td class="">1</td>
          <td class="">Jan. 7th, 2020.</td>
          <td class="">Lorem ipsum dolor sit amet, consectetuer elit...</td>
          <td class="">Dr. Jimoh Alisu</td>
          <td class="text-center text-success"><span class="">Pending</span></td>
          <td class="text-center">
            <button mat-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
            <mat-menu #menu="matMenu">
              <a [routerLink]="['/suggestions/submissions/details']" mat-menu-item>View Entry</a>
              <a [routerLink]="['/suggestions/my-submissions/details']" mat-menu-item>Edit Entry</a>
              <a mat-menu-item class="text-danger">Delete Entry</a>
            </mat-menu>
          </td>
        </tr>

        <tr>
          <td class="">1</td>
          <td class="">Jan. 7th, 2020.</td>
          <td class="">Lorem ipsum dolor sit amet, consectetuer elit...</td>
          <td class="">Dr. Jimoh Alisu</td>
          <td class="text-center text-danger"><span class="">Rejected</span></td>
          <td class="text-center">
            <button mat-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
            <mat-menu #menu="matMenu">
              <a [routerLink]="['/suggestions/submissions/details']" mat-menu-item>View Entry</a>
              <a [routerLink]="['/suggestions/my-submissions/details']" mat-menu-item>Edit Entry</a>
              <a mat-menu-item class="text-danger">Delete Entry</a>
            </mat-menu>
          </td>
        </tr>

        <tr>
          <td class="">2</td>
          <td class="">Jan. 7th, 2020.</td>
          <td class="">Lorem ipsum dolor sit amet, consectetuer elit...</td>
          <td class="">Dr. Jimoh Alisu</td>
          <td class="text-center text-primary"><span class="">Accepted</span></td>
          <td class="text-center">
            <button mat-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
            <mat-menu #menu="matMenu">
              <a [routerLink]="['/suggestions/submissions/details']" mat-menu-item>View Entry</a>
              <a [routerLink]="['/suggestions/my-submissions/details']" mat-menu-item>Edit Entry</a>
              <a mat-menu-item class="text-danger">Delete Entry</a>
            </mat-menu>
          </td>
        </tr>

        </tbody>
      </table>
    </div>
    <h5 class="table-totals">Showing 1-15 of 256 Entries</h5>
  </div>
</div>
