<div class="content mat-elevation-z8">
  <h5 class="text-center title">Ideas/Suggestions</h5>

  <div class="appointment-table">
    <div class="table-responsive">
      <table class="table table-bordered table-hover table-striped">
        <thead class="thead-bg">
        <tr>
          <th scope="col">S/N</th>
          <th scope="col">Date Created</th>
          <th scope="col">Description</th>
          <th scope="col">Submitted To</th>
          <th scope="col" class="text-center">Status</th>
          <th scope="col" class="text-center">Actions</th>
        </tr>
        </thead>
        <tbody>

        <tr>
          <td class="">1</td>
          <td class="">Jan. 7th, 2020.</td>
          <td class="">Lorem ipsum dolor sit amet, consectetuer elit...</td>
          <td class="">Dr. Jimoh Alisu</td>
          <td class="text-center text-success"><span class="">Pending</span></td>
          <td class="text-center">
            <button mat-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
            <mat-menu #menu="matMenu">
              <a [routerLink]="['/admin/suggestions/submissions/details']" mat-menu-item>View Entry</a>
              <a [routerLink]="['/admin/suggestions/my-submissions/details']" mat-menu-item>Leave Comment</a>
              <a mat-menu-item class="text-danger">Delete Entry</a>
            </mat-menu>
          </td>
        </tr>

        <tr>
          <td class="">1</td>
          <td class="">Jan. 7th, 2020.</td>
          <td class="">Lorem ipsum dolor sit amet, consectetuer elit...</td>
          <td class="">Dr. Jimoh Alisu</td>
          <td class="text-center text-danger"><span class="">Rejected</span></td>
          <td class="text-center">
            <button mat-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
            <mat-menu #menu="matMenu">
              <a [routerLink]="['/suggestions/submissions/details']" mat-menu-item>View Entry</a>
              <a [routerLink]="['/suggestions/my-submissions/details']" mat-menu-item>Leave Comment</a>
              <a mat-menu-item class="text-danger">Delete Entry</a>
            </mat-menu>
          </td>
        </tr>

        <tr>
          <td class="">2</td>
          <td class="">Jan. 7th, 2020.</td>
          <td class="">Lorem ipsum dolor sit amet, consectetuer elit...</td>
          <td class="">Dr. Jimoh Alisu</td>
          <td class="text-center text-primary"><span class="">Accepted</span></td>
          <td class="text-center">
            <button mat-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
            <mat-menu #menu="matMenu">
              <a [routerLink]="['/suggestions/submissions/details']" mat-menu-item>View Entry</a>
              <a [routerLink]="['/suggestions/my-submissions/details']" mat-menu-item>Leave Comment</a>
              <a mat-menu-item class="text-danger">Delete Entry</a>
            </mat-menu>
          </td>
        </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>
