<div class="content mat-elevation-z8">
  <h2 class="text-center text-dark">Add New Government Official</h2>
  <div class="add-new-user">
    <form [formGroup]="officialForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
      <div class="form-row m-3">
        <div class="col-md-4">
          <label for="category">Select Category</label>
          <select class="custom-select" name="category" id="category" (change)="currentCategory($event.target['value'])" formControlName="official_category">
            <option>Select Official's Category</option>
            <option [value]="category.id" *ngFor="let category of categories">{{category.category_name}}</option>
          </select>
        </div>

        <div class="col-md-4" *ngIf="selectedCategory=='1'">
          <label for="cabinet-sub-categories">Select Office</label>
          <!--BEGIN the cabinet-->
          <select class="custom-select" name="category" id="cabinet-sub-categories" (change)="currentSubCategory($event.target['value'])" formControlName="official_office">
            <option value="">Select Official Office</option>
            <option value="1">Head Of Service</option>
            <option value="2">Commissioners</option>
            <option value="3">Special Advisers</option>
            <option value="4">Accountant General Of State</option>
            <option value="5">Auditor General (State)</option>
            <option value="6">Auditor General (Local Governments)</option>
            <option value="7">Senior Special Assistants</option>
            <option value="8">Special Assistants</option>
          </select>
          <!--END the cabinet-->
        </div>

        <div class="col-md-4" *ngIf="selectedCategory=='2'">
          <label for="cabinet-sub-categories">Select Office</label>
          <!--BEGIN the government house-->
          <select class="custom-select" name="category" id="government-house" (change)="currentSubCategory($event.target['value'])" formControlName="official_office">
            <option value="Chief Of staff">Chief Of staff</option>
            <option value="Deputy Chief Of staff">Deputy Chief Of staff</option>
            <option value="Director Of Protocol">Director Of Protocol</option>
            <option value="Chief Press Secretary (Governor)">Chief Press Secretary (Governor)</option>
            <option value="Chief Press Secretary (Deputy Governor)">Chief Press Secretary (Deputy Governor)</option>
            <option value="Personal Assistant (Governor)">Personal Assistant (Governor)</option>
            <option value="Personal Assistant (Deputy Governor)">Personal Assistant (Deputy Governor)</option>
          </select>
          <!--END the government house-->
        </div>

        <div class="col-md-4"*ngIf="selectedCategory=='3'" >
          <!--BEGIN head of agencies-->
          <label for="cabinet-sub-categories">Select Office</label>
          <select class="custom-select" name="category" id="sub_category"(change)="currentSubCategory($event.target['value'])" formControlName="official_office">
            <option value="">Select Heads Of Agencies</option>
            <option value="director general">Director General</option>
            <option value="director">Director</option>
            <option value="head">Head</option>
          </select>
          <!--END head of agencies-->
        </div>

        <div class="col-md-4" *ngIf="selectedCategory=='4'" >
          <!--BEGIN Local Governments-->
          <label for="cabinet-sub-categories">Select Office</label>
          <select class="custom-select" name="category" (change)="currentSubCategory($event.target['value'])" formControlName="official_office">
            <option value="">Select Position</option>
            <option value="chairperson">Chairperson</option>
            <option value="vice chairperson">Vice Chairperson</option>
            <option value="secretary">Secretary</option>
            <option value="public relation officer">Public Relations Officer (PRO)</option>
          </select>
          <!--END local Governments-->
        </div>

        <div class="col-md-4"*ngIf="selectedCategory=='6'">
          <label for="cabinet-sub-categories">Select Office</label>
          <!--BEGIN Permanent Secretary / Directors-->
          <select  class="custom-select" name="permanent-secretary" (change)="currentSubCategory($event.target['value'])" formControlName="official_office">
            <option value="">Select Position</option>
            <option value="permanent secretary">Permanent Secretary</option>
            <option value="director">Director</option>
          </select>
          <!--END Permanent Secretary / Directors-->
        </div>

        <div class="col-md-4"*ngIf="selectedCategory=='7'" >
          <label for="cabinet-sub-categories">Select Office</label>
          <!--BEGIN Pros / Support Staff / Admin-->
          <select class="custom-select" name="permanent-secretary" (change)="currentSubCategory($event.target['value'])" formControlName="official_office">
            <option value="">Select Position</option>
            <option value="KOGAS lead">KOGAS Lead</option>
            <option value="admin support">Admin Support</option>
            <option value="IT support">IT Support</option>
            <option value="others">Others</option>
          </select>
          <!--END Pros / Support Staff / Admin-->
        </div>

        <!-- -->
        <div class="col-md-4" *ngIf="selectedSubCategory=='2' || selectedSubCategory== '3'">
          <label for="category">Ministries</label>
          <select class="custom-select" name="category" id="portfolio" formControlName="ministry_id">
            <option [value]="ministry.id" *ngFor="let ministry of ministries;let i=index">Ministry of {{ministry.name}}</option>
          </select>
        </div>

        <div class="col-md-4" *ngIf="selectedSubCategory== '2'">
          <label for="sector">Select Sector</label>
          <select id="sector"class="custom-select" formControlName="sector">
            <option value="" disabled>Select official Sector</option>
            <option value="1">Admin Sector</option>
            <option value="2">Economic Sector</option>
            <option value="3">Social Sector</option>
          </select>
        </div>

        <div class="col-md-4" *ngIf="selectedSubCategory=='chairperson' || selectedSubCategory=='vice chairperson' || selectedSubCategory=='secretary' ||selectedSubCategory=='public relation officer'">
          <label for="ministry">Local Government Areas</label>
          <select class="custom-select" name="LGA" id="ministry" formControlName="ministry_id">
            <option [value]="LGA.id" *ngFor="let LGA of LGAs;let i=index">{{LGA.name}}</option>
          </select>
        </div>

        <!--Begin Permanent Secretary / Directors sub-categories-->
        <div class="col-md-4" *ngIf="selectedSubCategory=='KOGAS lead' || selectedSubCategory=='others' || selectedSubCategory=='' || selectedSubCategory=='IT support' ">
          <label for="ministry"> Ministries/Bureaus/Agencies</label>
          <select class="custom-select" name="LGA" id="" formControlName="ministry_id">
            <option value="{{ministry.id}}" *ngFor="let ministry of ministries;let i=index">Ministry of {{ministry.name}}</option>
          </select>
        </div>
        <!--END Permanent Secretary / Directors-->

        <!--Begin Pros / Support Staff / Admin-->
        <div class="col-md-4" *ngIf="selectedSubCategory=='permanent secretary' || selectedSubCategory=='director'  || selectedSubCategory=='director general'  || selectedSubCategory=='head'" >
          <label for="ministry"> Ministries/Bureaus/Agencies</label>
          <select class="custom-select" name="LGA" formControlName="ministry_id">
            <option value="{{ministry.id}}" *ngFor="let ministry of ministries;let i=index">Ministry of {{ministry.name}}</option>
          </select>
        </div>
        <!--END Pros / Support Staff / Admin-->

        <div class="col-md-4">
          <label for="firstName">First Name</label>
          <input type="text" id="firstName" formControlName="firstName" class="form-control" placeholder="John"required="">
        </div>

        <div class="col-md-4">
          <label for="lastName">Last Name</label>
          <input type="text" id="lastName" formControlName="lastName" class="form-control" placeholder="Doe"required="">
        </div>

        <div class="col-md-4">
          <label for="phone">Phone Number</label>
          <input type="text" id="phone" formControlName="phone" class="form-control" placeholder=""required="">
        </div>

        <div class="col-md-4">
          <label for="email">Email</label>
          <input type="email" id="email" formControlName="email" class="form-control" placeholder=""required="">
        </div>

        <div class="col-md-4">
          <label for="city">Address</label>
          <input type="text" id="city" formControlName="city" class="form-control" placeholder=""required="">
        </div>

        <div class="col-md-4">
          <label for="gender">Gender</label>
          <select id="gender" formControlName="gender"class="form-control">
            <option value="">Select official gender</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Rather Not Say">Rather Not Say</option>
          </select>
        </div>

        <div class="col-md-4">
          <label for="LGA">Local Government Area</label>
          <input type="text" id="LGA" formControlName="LGA" class="form-control" placeholder=""required="">
        </div>

        <div class="col-md-4">
          <label for="role">Select Role</label>
          <select id="role" class="custom-select" formControlName="role">
            <option *ngFor="let role of roles" [value]="role.name">{{role.display_name}}</option>
          </select>
        </div>

        <div class="col-md-4">
          <label>Upload Avatar</label>
          <input type="file" class="form-control-file" (change)="handleFileInput($event)">
        </div>

        <div class="col-md-4">
          <label for="password">Password</label>
          <input type="password" id="password" min="8" formControlName="password" placeholder="Enter official password" class="form-control"required="">
        </div>

      </div>
      <div class="submission m-4 text-right">
        <button *ngIf="!submitting" [disabled]="officialForm.invalid" type="submit" class="btn btn-danger">Add Official</button>
        <button *ngIf="submitting" type="submit" class="btn btn-success">Processing New official...</button>
      </div>

    </form>
  </div>
</div>
