<div class="content mat-elevation-z8">
  <h2 class="text-center text-dark">Add New Government Official</h2>
  <div class="add-new-user">
    <form [formGroup]="officialForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
      <div class="form-row m-3">
        <div class="col-md-4">
          <label for="category">Select Category</label>
          <select class="custom-select" name="category" id="category" (change)="currentCategory($event.target['value'])">
            <option>Select Official's Category</option>
            <option [value]="category.id" *ngFor="let category of categories">{{category.category_name}}</option>
          </select>
        </div>

        <div class="col-md-4">
          <label for="cabinet-sub-categories">Select Office</label>
          <!--BEGIN the cabinet-->
          <select *ngIf="selectedCategory=='1'" class="custom-select" name="category" id="cabinet-sub-categories" (change)="currentSubCategory($event.target['value'])">
            <option value="Head Of Service">Head Of Service</option>
            <option value="Commissioners">Commissioners</option>
            <option value="Special Advisers">Special Advisers</option>
            <option value="Accountant General Of State">Accountant General Of State</option>
            <option value="Auditor General (State)">Auditor General (State)</option>
            <option value="Auditor General (Local Governments)">Auditor General (Local Governments)</option>
            <option value="Senior Special Assistants">Senior Special Assistants</option>
            <option value="Special Assistants">Special Assistants</option>
          </select>
          <!--END the cabinet-->

          <!--BEGIN the government house-->
          <select *ngIf="selectedCategory=='2'" class="custom-select" name="category" id="government-house" (change)="currentSubCategory($event.target['value'])">
            <option value="Chief Of staff">Chief Of staff</option>
            <option value="Deputy Chief Of staff">Deputy Chief Of staff</option>
            <option value="Director Of Protocol">Director Of Protocol</option>
            <option value="Chief Press Secretary (Governor)">Chief Press Secretary (Governor)</option>
            <option value="Chief Press Secretary (Deputy Governor)">Chief Press Secretary (Deputy Governor)</option>
            <option value="Personal Assistant (Governor)">Personal Assistant (Governor)</option>
            <option value="Personal Assistant (Deputy Governor)">Personal Assistant (Deputy Governor)</option>
          </select>
          <!--END the government house-->

          <!--BEGIN head of agencies-->
          <select *ngIf="selectedCategory=='3'" class="custom-select" name="category" id="sub_category"(change)="currentSubCategory($event.target['value'])">
            <option value="">Select Heads Of Agencies</option>
            <option value="director general">Director General</option>
            <option value="director">Director</option>
            <option value="head">Head</option>
          </select>
          <!--END head of agencies-->

          <!--BEGIN Local Governments-->
          <select *ngIf="selectedCategory=='4'" class="custom-select" name="category" (change)="currentSubCategory($event.target['value'])">
            <option value="">Select Position</option>
            <option value="chairperson">Chairperson</option>
            <option value="vice chairperson">Vice Chairperson</option>
            <option value="secretary">Secretary</option>
            <option value="public relation officer">Public Relations Officer (PRO)</option>
          </select>
          <!--END local Governments-->

          <!--BEGIN vice chancellors-->
          <select *ngIf="selectedCategory=='5'" class="custom-select" name="category">
            <option value="Confluence State University of Science and Technology ">Confluence State University of Science and Technology </option>
          </select>
          <!--END vice chancellors-->

          <!--BEGIN Permanent Secretary / Directors-->
          <select *ngIf="selectedCategory=='6'" class="custom-select" name="permanent-secretary" (change)="currentSubCategory($event.target['value'])">
            <option value="">Select Position</option>
            <option value="permanent secretary">Permanent Secretary</option>
            <option value="director">Director</option>
          </select>
          <!--END Permanent Secretary / Directors-->

          <!--BEGIN Pros / Support Staff / Admin-->
          <select *ngIf="selectedCategory=='7'" class="custom-select" name="permanent-secretary" (change)="currentSubCategory($event.target['value'])">
            <option value="">Select Position</option>
            <option value="KOGAS lead">KOGAS Lead</option>
            <option value="admin support">Admin Support</option>
            <option value="IT support">IT Support</option>
            <option value="others">Others</option>
          </select>
          <!--END Pros / Support Staff / Admin-->
        </div>

        <div class="col-md-4" *ngIf="selectedSubCategory=='Commissioners' || selectedSubCategory== 'Special Advisers'">
          <label for="category">Ministries</label>
          <select class="custom-select" name="category" id="portfolio">
            <option value="" *ngFor="let ministry of ministries;let i=index">Ministry of {{ministry.name}}</option>
          </select>
        </div>

        <div class="col-md-4" *ngIf="selectedSubCategory=='chairperson' || selectedSubCategory=='vice chairperson' || selectedSubCategory=='secretary' ||selectedSubCategory=='public relation officer'">
          <label for="ministry">Local Government Areas</label>
          <select class="custom-select" name="LGA" id="ministry">
            <option value="" *ngFor="let LGA of LGAs;let i=index">{{LGA.name}}</option>
          </select>
        </div>

        <!--Begin Permanent Secretary / Directors sub-categories-->
        <div class="col-md-4" *ngIf="selectedSubCategory=='KOGAS lead' || selectedSubCategory=='others' || selectedSubCategory=='' || selectedSubCategory=='IT support' ">
          <label for="ministry"> Ministries and Bureaus/Agencies</label>
          <select class="custom-select" name="LGA" id="">
            <option value="" *ngFor="let ministry of ministries;let i=index">{{ministry.name}}</option>
          </select>
        </div>
        <!--END Permanent Secretary / Directors-->

        <!--Begin Pros / Support Staff / Admin-->
        <div class="col-md-4" *ngIf="selectedSubCategory=='permanent secretary' || selectedSubCategory=='director'">
          <label for="ministry"> Ministries and Bureaus/Agencies</label>
          <select class="custom-select" name="LGA">
            <option value="" *ngFor="let ministry of ministries;let i=index">{{ministry.name}}</option>
          </select>
        </div>
        <!--END Pros / Support Staff / Admin-->


        <div class="col-md-4">
          <label for="firstName">First Name</label>
          <input type="text" id="firstName" formControlName="firstName" class="form-control" placeholder="John"required="">
        </div>

        <div class="col-md-4">
          <label for="lastName">Last Name</label>
          <input type="text" id="lastName" formControlName="lastName" class="form-control" placeholder="Doe"required="">
        </div>

        <div class="col-md-4">
          <label for="phone">Phone Number</label>
          <input type="text" id="phone" formControlName="phone" class="form-control" placeholder=""required="">
        </div>

        <div class="col-md-4">
          <label for="email">Email</label>
          <input type="email" id="email" formControlName="email" class="form-control" placeholder=""required="">
        </div>

        <div class="col-md-4">
          <label for="city">Address</label>
          <input type="text" id="city" formControlName="city" class="form-control" placeholder=""required="">
        </div>

        <div class="col-md-4">
          <label for="gender">Gender</label>
          <select id="gender" formControlName="gender"class="form-control">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Rather Not Say">Rather Not Say</option>
          </select>
        </div>

        <div class="col-md-4">
          <label for="LGA">Local Government Area</label>
          <input type="text" id="LGA" formControlName="LGA" class="form-control" placeholder=""required="">
        </div>

        <div class="col-md-4">
          <label for="role">Select Role</label>
          <select id="role" class="custom-select" formControlName="role">
            <option *ngFor="let role of roles" [value]="role.id">{{role.display_name}}</option>
          </select>
        </div>

        <div class="col-md-4">
          <label>Upload Avatar</label>
          <input type="file" class="form-control-file" formControlName="avatar">
        </div>

        <div class="col-md-4">
          <label for="password">Temporal Password</label>
          <input type="password" id="password" min="8" formControlName="password" placeholder="Enter official password" class="form-control"required="">
        </div>

      </div>
      <div class="submission m-4">
        <button *ngIf="!submitting" [disabled]="officialForm.invalid" type="submit" class="btn btn-danger">Add Official</button>
        <button *ngIf="submitting" type="submit" class="btn btn-success">Processing...</button>
      </div>

    </form>
  </div>
</div>
