<div class="content mat-elevation-z8">
  <h2 class="text-center text-dark">Add New Government Official</h2>
  <div class="add-new-user">
    <form [formGroup]="officialForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
      <div class="form-row m-3">
        <div class="col-md-4">
          <label for="category">Select Category</label>
          <select class="custom-select" name="category" id="category" (change)="currentCategory($event.target['value'])">
            <option>Select Official's Category</option>
            <option [value]="category.id" *ngFor="let category of categories">{{category.category_name}}</option>
          </select>
        </div>

        <div class="col-md-4">
          <label for="cabinet-sub-categories">Sub-Category</label>
          <!--BEGIN the cabinet-->
          <select *ngIf="selectedCategory=='1'" class="custom-select" name="category" id="cabinet-sub-categories">
            <option value="Head Of Service">Head Of Service</option>
            <option value="Commissioners">Commissioners</option>
            <option value="Special Advisers">Special Advisers</option>
            <option value="Accountant General Of State">Accountant General Of State</option>
            <option value="Auditor General (State)">Auditor General (State)</option>
            <option value="Auditor General (Local Governments)">Auditor General (Local Governments)</option>
            <option value="Senior Special Assistants">Senior Special Assistants</option>
            <option value="Special Assistants">Special Assistants</option>
          </select>
          <!--END the cabinet-->

          <!--BEGIN the government house-->
          <select *ngIf="selectedCategory=='2'" class="custom-select" name="category" id="government-house">
            <option value="Chief Of staff">Chief Of staff</option>
            <option value="Deputy Chief Of staff">Deputy Chief Of staff</option>
            <option value="Director Of Protocol">Director Of Protocol</option>
            <option value="Chief Press Secretary (Governor)">Chief Press Secretary (Governor)</option>
            <option value="Chief Press Secretary (Deputy Governor)">Chief Press Secretary (Deputy Governor)</option>
            <option value="Personal Assistant (Governor)">Personal Assistant (Governor)</option>
            <option value="Personal Assistant (Deputy Governor)">Personal Assistant (Deputy Governor)</option>
          </select>
          <!--END the government house-->

          <!--BEGIN -->
          <select *ngIf="selectedCategory=='3'" class="custom-select" name="category" id="sub_category">
            <option value="">{{selectedCategory}}</option>
          </select>
          <!--END-->
        </div>

        <div class="col-md-4">
          <label for="category">Portfolio</label>
          <select class="custom-select" name="category" id="portfolio">
            <option value=""></option>
          </select>
        </div>

        <div class="col-md-4">
          <label for="firstName">First Name</label>
          <input type="text" id="firstName" formControlName="firstName" class="form-control" placeholder="John"required="">
        </div>

        <div class="col-md-4">
          <label for="lastName">Last Name</label>
          <input type="text" id="lastName" formControlName="lastName" class="form-control" placeholder="Doe"required="">
        </div>

        <div class="col-md-4">
          <label for="phone">Phone Number</label>
          <input type="text" id="phone" formControlName="phone" class="form-control" placeholder=""required="">
        </div>

        <div class="col-md-4">
          <label for="email">Email</label>
          <input type="email" id="email" formControlName="email" class="form-control" placeholder=""required="">
        </div>

        <div class="col-md-4">
          <label for="city">Address</label>
          <input type="text" id="city" formControlName="city" class="form-control" placeholder=""required="">
        </div>

        <div class="col-md-4">
          <label for="gender">Gender</label>
          <select id="gender" formControlName="gender"class="form-control">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Rather Not Say">Rather Not Say</option>
          </select>
        </div>

        <div class="col-md-4">
          <label for="LGA">Local Government Area</label>
          <input type="text" id="LGA" formControlName="LGA" class="form-control" placeholder=""required="">
        </div>

        <div class="col-md-4">
          <label for="role">Select Role</label>
          <select id="role" class="custom-select" formControlName="role">
            <option *ngFor="let role of roles" [value]="role.id">{{role.display_name}}</option>
          </select>
        </div>

        <div class="col-md-4">
          <label>Upload Avatar</label>
          <input type="file" class="form-control-file" formControlName="avatar">
        </div>

        <div class="col-md-4">
          <label for="password">Temporal Password</label>
          <input type="password" id="password" min="8" formControlName="password" placeholder="Enter official password" class="form-control"required="">
        </div>

      </div>
      <div class="submission m-4">
        <button *ngIf="!submitting" [disabled]="officialForm.invalid" type="submit" class="btn btn-danger">Add Official</button>
        <button *ngIf="submitting" type="submit" class="btn btn-success">Processing...</button>
      </div>

    </form>
  </div>
</div>
