<div class="content mat-elevation-z8">
  <h2 class="text-center text-dark">Add New Government Official</h2>
  <div class="add-new-user">
    <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
      <div class="form-row m-3">
        <div class="col-md-4">
          <label for="firstName">First Name</label>
          <input type="text" id="firstName" formControlName="firstName" class="form-control" placeholder="John"required="">
        </div>


      </div>
      <div class="submission m-4 text-right">
        <button *ngIf="!submitting" [disabled]="categoryForm.invalid" type="submit" class="btn btn-danger">Add Category</button>
        <button *ngIf="submitting" type="submit" class="btn btn-success">Processing New category...</button>
      </div>

    </form>
  </div>
</div>
